body {
	margin:0;
	padding:0;
	background-color:hsl(212, 45%, 89%);
	font-family: 'DynaPuff', cursive;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align:center;
}
.first-back {
	background-color:lightblue;
	box-shadow: 0 0 2px 3px gray;
	margin:50px auto;
	width:1300px;
	height:1000px;
	padding:50px;
	border-radius:10px;
}
.second-back {
	background-color:white;
	width:330px;
	height:510px;
	margin:200px auto;
	border-radius:20px;
	border:1px solid lightblue;
	box-shadow: 0 0 2px 3px gray;
}
img {
	display:block;
	border-radius:10px;
	margin:20px auto;
}
.first-p {
	font-weight:bold;
	font-size:25px;
	padding:6px;
}
.second-p {
	padding:4px 30px;
	color:hsl(212, 45%, 10%);
	font-size:15px;
	font-weight:500;
}